script(type="text/x-template" id="modal-template")
link(type="text/css" rel="stylesheet" href="/stylesheets/modal_window.css")
  transition(name="modal")
    div.modal-mask
      div.modal-wrapper
        div.modal-container
          div.modal-header
            slot(name="header")
              default header

          div.modal-body
            slot(name="body")
              default body

          div.modal-footer
            slot(name="footer")
              default footer
              button(class="modal-default-button" @click="$emit('close'))
                OK

div(id="app")
  button(id="show-modal" @click="showModal = true")Show Modal
  modal(v-if="showModal" @close="showModal = false")
    h3(slot="header")custom header
  </modal>
</div>
