extends layout

block header
  h1(class="head") Список соигроков
  p(class="day") Был создан 9 января 2020 года

block content
  h2 Это список соигроков
  p Не знаю, нужен ли он отдельно, но пускай будет. Здесь будет:
  ul(class="main")
    li общий список соигроков;
    li соигроки онлайн;
    li соигроки по сообществам.
