extends layout

block header
  h1 Главная страница сайта
  p.day Была создана 5 декабря 2019 года

block content
  h2 Сайт с днявками и ролёвками
  p Должен содержать как минимум:
  ul(class="main")
    li
      a(href="/diary") возможность вести днявку;
    li возможность комментировать днявку;
    li хороший конструктор дизайна;
    li удобные сообщества для ролевых;
    li чатик для флуда;
    li рейтинг ролевых и ролевиков;
    li бота для различных оповещений.
