extends layout

block title
  title Главная

block header
  h1 Your Roleplays

block content
  div.content
    h2 Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! Добро пожаловать на Your Roleplays! 
