extends layout

block header
  h1(class="head") Днявка
  p(class="day") Была создана 8 декабря 2019 года

block content
  h2 Это будет днявка
  p В днявке должны быть возможности:
  ul(class="main")
    li добавлять записи;
    li скрывать свои записи;
    li комментировать записи.
