extends layout

block header
  h1(class="head") Страница с отслеживанием дискуссий
  p(class="day") Была создана 9 января 2020 года

block content
  h2 Дискуссии
  p Здесь будет список дискуссий, которые могут сортироваться по таким признакам:
  ul(class="main")
    li последние изменения;
    li дата создания записи;
    li кол-во комментариев.
