<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    block title
     title= title
    link(type="text/css" rel="stylesheet" href="/stylesheets/layout.css")
  body
    header.border
      h1 Сброс пароля

    main.border
      form(action="/register_user" method="post")
        br
        br
        label(for="email") Введите e-mail
        |
        |
        input(type="email" name="email_field" id="email")
        br
        br
        input(type="submit" value="Сбросить пароль")

    footer.border
      p © LilChara 2020
