extends layout

block header
  h1(class="head") Страница с анкетами
  p(class="day") Была создана 9 января 2020 года

block content
  h2 Анкеты
  p Страница с анкетами включает в себя:
  ul(class="main")
    li возможность просмотреть анкеты;
    li добавить анкету;
    li удалить анкету;
    li отредактировать анкету.
