extends layout

block header
  h1(class="head") Лента друзей
  p(class="day") Была создана 9 января 2020 года

block content
  h2 Лента друзей
  p Будет содержать:
  ul(class="main")
    li собственно ленту записей;
    li боковое меню со списком друзей;
    li последние действия друзей.
