extends layout

block header
  h1(class="head") Список друзей
  p(class="day") Был создан 9 января 2020 года

block content
  h2 Список друзей
  p Будет показывать:
  ul(class="main")
    li сам список;
    li общие с друзьями ролевые;
    li ролевые, в которых состоят друзья.
