<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title= title
    link(type="text/css" rel="stylesheet" href="/stylesheets/dashboard.css")
  body
    header
      block header
    main
      block content

  footer
    p © LilChara 2020
