- var real_menu = [{url: '/dashboard', name: 'Главная'}]
- var future_menu = [{url: '/profile', name: 'Профиль'}, {url: '/profile', name: 'Профиль'}, {url: '/forms', name: 'Мои анкеты'}, {url: '/coplayers', name: 'Мои соигроки'}, {url: '/coplayers_posts', name: 'Лента соигроков'}, {url: '/friends', name: 'Мои друзья'}, {url: '/friends_posts', name: 'Лента друзей'}, {url: '/discussions', name: 'Дискуссии'}, {url: '/private_messages', name: 'Личные сообщения'}, {url: '/players_rating', name: 'Рейтинг игроков'}, {url: '/my_roleplays', name: 'Мои ролевые'}, {url: '/my_own', name: 'Созданные мной'}, {url: '/participate_roleplays', name: 'Участвую в ролевых'}, {url: '/roleplays_list', name: 'Список ролевых'}, {url: '/roleplays_rating', name: 'Рейтинг ролевых'}, {url: '/settings', name: 'Настройки'}, {url: '/exit', name: 'Выйти'}]

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    block title
     title= title
    link(type="text/css" rel="stylesheet" href="/stylesheets/layout.css")
    
  body
    div.table

      header
        block header

      main
        div.inner_table
          div.content
            block content

          nav.nav_block
            mixin link(url, name)
              a(href=url)= name
            h3 Навигация по сайту
              ul
                include ./sign_in.pug
                each i in real_menu
                  li.nav
                    +link(i.url, i.name)

      footer
        p © LilChara 2020
