extends layout

block header
  h1(class="head") Страница со списком собственных ролевых
  p(class="day") Была создан 9 января 2020 года

block content
  h2 Список собственных ролевых юзера
  p Пока не знаю, будет ли список ролевых, которыми владеет юзер и в которых просто состоит, на одной странице или на разных. Пускай пока будет.
