extends layout

block header
  h1(class="head") Рейтинг игроков
  p(class="day") Был создан 9 января 2020 года

block content
  h2 Рейтинг игроков
  p Здесь будет рейтинг, который будет показывать:
  ul(class="main")
    li игроков с наибольшим кол-вом постов;
    li игроков по времени регистрации;
    li игроков с наибольшим количеством игр.
