extends layout

block header
  h1(class="head") Страница с личными сообщениями
  p(class="day") Была создана 9 января 2020 года

block content
  h2 Личные сообщения
  p Здесь будет список переписок, которые могут сортироваться по таким признакам:
  ul(class="main")
    li дата последнего сообщения;
    li сообщения за определённый период;
    li сообщения с определённым словом.
