extends layout

block header
  h1(class="head") Профиль
  p(class="day") Был создан 8 января 2020 года

block content
  h2 Это профиль игрока
  p В профиле будет содержаться:
  ul(class="main")
    li личная информация вроде даты рождения, города, и т.д., и т.п;
    li список друзей;
    li список ролевых;
    li кол-во написанных постов;
    li ачивки, полученные на сайте (не факт, но может быть);
    li доп. инфа.
