<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    block title
     title= title
    link(type="text/css" rel="stylesheet" href="/stylesheets/layout.css")
  body
    header.border
      h1 Регистрация на сайте

    main.border
      form(action="/register_user" method="post")
        br
        br
        label(for="email") Введите e-mail
        |
        |
        input(type="email" name="email_field" id="email")
        br
        br
        label(for="login") Введите логин
        |
        |
        input(type="text" name="login_field" id="login")
        br
        br
        label(for="password") Введите пароль
        |
        |
        input(type="password" name="password_field" id="password")
        br
        br
        label(for="password") Введите пароль ещё раз
        |
        |
        input(type="password" name="password_field" id="confirm_password")
        br
        br
        input(type="submit" value="Зарегистрироваться")

    footer.border
      p © LilChara 2020
