extends layout

block title
  title Регистрация

block content

  div.form_content

    form(action="/register_user" method="post")
      label(for="email") Введите e-mail
      br
      input(type="email" name="email_field" id="email")
      br
      br
      label(for="login") Введите логин
      br
      input(type="text" name="login_field" id="login")
      br
      br
      label(for="password") Введите пароль
      br
      input(type="password" name="password_field" id="password")
      br
      br
      label(for="password") Введите пароль ещё раз
      br
      input(type="password" name="password_field" id="confirm_password")
      br
      br
      label(for="date_of_birth") Дата рождения
      br
      mixin date(number)
        option.date= number
      select
        each i in date
          +date(i.number)
      |
      mixin mounth(name)
        option.mounth= name
      select
        each i in mounth
          +mounth(i.name)
      |
      mixin year(number)
        option.year= number
      select
        each i in year
          +year(i.number)
      br
      br
      label(for="nickname") Никнейм
      br
      input(type="text" name="nickname_field" id="nickname")
      br
      br
      label(for="name_of_diary") Название дневника
      br
      input(type="text" name="name_of_diary_field" id="name_of_diary")
      br
      br
      input(type="submit" value="Зарегистрироваться")
