extends layout

block header
  h1(class="head") Рейтинг ролевых
  p(class="day") Был создан 9 января 2020 года

block content
  h2 Рейтинг ролевых
  p Здесь будет рейтинг, который будет показывать:
  ul(class="main")
    li ролевые с наибольшим кол-вом постов;
    li ролевые по времени регистрации;
    li ролевые с наибольшим количеством участников.
