extends layout

block header
  h1(class="head") Список ролевых
  p(class="day") Был создан 9 января 2020 года

block content
  h2 Список ролевых
  p Ролевые можно будет отсортировать по:
  ul(class="main")
    li дате создания;
    li количеству игроков;
    li по фильтрам.
