extends layout

block header
  h1(class="head") Страница с настройками
  p(class="day") Была создана 9 января 2020 года

block content
  h2 Настройки
  p Можно будет настроить:
  ul(class="main")
    li данные профиля;
    li доступ к дневнику;
    li дизайн;
    li и ещё много чего.
