<!doctype html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    link(type="text/css" rel="stylesheet" href="/stylesheets/modal_window.css")

  body
    script(type="text/x-template" id="modal-template")
      transition(name="modal")
        div(class="modal-mask" v-on:click.self="$emit('close')")
          div(class="modal-wrapper")
            div(class="modal-container")

              div(class="modal-header")
                slot(name="header")
                  p Вход на сайт

              div(class="modal-body")
                slot(name="body")
                div.sign_in_form
                  form(class="login" "v-on:submit.prevent"="login")
                    label(for="log_in") Логин
                    |
                    |
                    input(required v-model="username" type="text" name="login_field" id="log_in")
                    br
                    br
                    label(for="password") Пароль
                    |
                    |
                    input(required v-model="password" type="password" name="password_field" id="password")
                    br
                    br
                    input(type="submit" value="Войти")

              div(class="modal-footer")
                slot(name="footer")
                  a.left(href="/register") Зарегистрироваться
                  a.right(href="/forgot_password") Забыли пароль?


    div.menu_link(id="app")
      a(href="#sign_in" id="show-modal" "v-on:click"="showModal=true") Войти
      modal("v-if"="showModal" "v-on:close"="showModal=false")


    script(src='/javascripts/modal.js')
