html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  font-family: "FF Din", sans-serif;
  background-color: #A3DAE7;
  margin: 0 0 0 0;
}

header {
  margin: 20px;
  margin-bottom: 10px;
  background-color: #60B9CE;
}

h1 {
  margin-bottom: 0;
  font-style: oblique;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin-left: 30px;
  font-size: 20px;
  margin: 0;
}

nav {
  background-color: #60B9CE;
  position: right;
  text-align: right;
  float: right;
  list-style-position: inside;
  margin-right: 20px;
  padding: 10px;
  padding-top: 20px;
  height: 420px;
}

nav ul {
  margin: 0;
  padding: 0;
}

main {
  text-align: left;
  height: 350px;
  margin-left: 20px;
  margin-right: 250px;
  padding: 10px;
  padding-left: 380px;
  padding-top: 90px;
  background-color: #60B9CE;
  margin-bottom: 4%;
}

main li {
  margin: 5px;
}

footer {
  text-align: left;
  padding: 0;
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-left: 5px;
  width: 97%;
}

.main {
  margin-left: 0;
  padding-left: 0;
  list-style: disc;
  list-style-position: inside;
}

.nav {
  padding-top: 5px;
  margin-left: 16px;
  font-size: 14px;
  font-style: normal;
}

nav li a:hover {
  font-weight: bold;
  background-color: #5D8F9B;
  border-radius: 5px;
}

.day {
  font-size: 12px;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.border {
  border: 1px;
  border-style: solid;
  border-color: #5D8F9B;
}

.ulnav {
  padding-top: 10px;
}
