html,
body {
  font-family: "FF Din", sans-serif;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  margin: 0;
  background-color: #0ff;
  display: flex;
}

main {
  padding: 10px;
  background-color: #0dd;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 10px;
}

h2 {
  margin: 0 5px;
  background-color: #0bb;
}

h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav {
  margin: 0;
  padding-right: 10px;
  background-color: #099;
}

footer {
  text-align: left;
  font-size: 14px;
  background-color: #077;
  display: flex;
}

.nav {
  margin-left: 0;
  padding: 4px;
  padding-right: 0;
  padding-left: 0;
  position: right;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  border-radius: 5px;
  list-style: disc;
  list-style-position: inside;
}

.nav_block {
  width: 230px;
  display: block;
  float: right;
}
.content {
  height: 100%;
  display: block;
  float: left;
}
