a {
  font-size: 14px;
  font-style: normal;
  border-radius: 5px;
  padding: 4px;
}

a:hover {
  color: #ff0000;
}

li {
  margin-left: 0;
  padding-left: 0;
  position: right;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  border-radius: 5px;
  padding: 4px;
  padding-right: 0;
  list-style: disc;
  list-style-position: inside;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s ease;
}

.modal-wrapper {
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  height: 250px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: "FF Din", sans-serif;
  border-radius: 20px;
}

.modal-header {
  margin: auto;
  justify-content: center;
  display: flex;
  padding: 0;
}

.modal-body {
  justify-content: center;
  display: flex;
  padding: 10px;
}

.modal-footer {
  margin: auto;
  text-align: center;
  float: left;
}


.modal-default-button {
  margin: 3px;
  float: right;
  margin: 10px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.main a {
  margin: auto;
}
